h1{
    display: flex;
    justify-content: center;
    font-size: 75px;
    margin : 0;
    font-family : "Monospace","Lucida Console";
    font-style :italic;
    text-shadow : 2px 2px 2px gold;
}

li{
    list-style-type:none;
}
body{
    background-color: #35654d;
}
#Pcards>img{
    width:200px;
    height:250px;
    margin : 5pt;
   }
@media only screen and (max-width: 600px) {
   #Pcards{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
    margin-top:7vh;
   }
   #Pcards>img{
    width:125px;
    height : 175px;
    margin : 5pt;
   }
   #buttons{
    display:flex;
    justify-content: space-evenly;
    margin-top:15vh
   }
   button{
    font-size:44px; 
    border-radius:12px;
   }
   .allGameBtn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
  }


